## INTRODUCTION

In [2]:
# Data Types Used in Python Programming

'''
1. int : Integer
2. float : Decimal values
3. string : Text Information
4. Boolean : True or False
'''

# Data Type Definition
# = : Assignment Operator
num = 100
num1 = 100.345
str = 'Hello world'
boolean = True
boolean = False

In [3]:
print(num)

100

In [4]:
print('num')

num

In [5]:
num + num1

200.345

In [ ]:
a = '12345'
b = '56789'
c = 5

print(a+b)
print(a*c)

1234556789
1234512345123451234512345

In [9]:
# Inpute Function

num1 = input('Enter the First Number:')
num2 = input('Enter the Second Number:')

print(num1 + num2)

1020

In [12]:
# Inpute Function
# Use TypeCasting : Converting String to Integer

num1 = float(input('Enter the First Number:'))
num2 = float(input('Enter the Second Number:'))

print(num1 + num2)

30.0

In [1]:
# f string method
name = input('Enter the Name:')
age = float(input('Enter the age:'))

print(f'The Entered Name of the person is {name} having age is {age}')

ValueError: could not convert string to float: ''

In [3]:
num1 = float(input('Enter the First number:'))
num2 = float(input('Enter the Second number:'))

num3 = num1 * num2

print(f'The Multiplication of two numers are as {num1} and {num2} is',num3)
print(f'The Multiplication of two numers are as {num1} and {num2} is {num3}')

The Multiplication of two numers are as 10.0 and 20.0 is 200.0
The Multiplication of two numers are as 10.0 and 20.0 is 200.0